body{
    margin: 0;
    background-color: whitesmoke;
}
header h1 {
    margin: 40px!important;
}
main{
    display: flex;
    margin: 20px;
    justify-content: space-around;
}
main p{
    padding: 0px 10px;
    order: 1;
    /* flex-grow: 2; */
}
main div{
    order: 2;
    /* flex-grow: 8; */
    background-color: #646464;
    margin: 30px;
    padding: 30px;
    color: antiquewhite;
}
.form{
    display: flex;
}
button {
    border-radius: 6px;
    border: solid red;
    padding: 10px 20px;
}